week-05-automl-training/Week 5 - Generic vs Fine-Tuned Comparison.json
{
  "name": "Week 5 - Generic vs Fine-Tuned Comparison",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "b5aaa9c9-643e-4bd2-b194-78978eb5a506",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appYwqobJ4UdB1Rbu",
          "mode": "list",
          "cachedResultName": "Week 5 Model Training",
          "cachedResultUrl": "https://airtable.com/appYwqobJ4UdB1Rbu"
        },
        "table": {
          "__rl": true,
          "value": "tblGQywV0wzzNGmaE",
          "mode": "list",
          "cachedResultName": "Fine-Tuned Comparison",
          "cachedResultUrl": "https://airtable.com/appYwqobJ4UdB1Rbu/tblGQywV0wzzNGmaE"
        },
        "filterByFormula": "{input_text} != \"\"",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "1a57a30c-7e71-4b7f-8bbf-5abfc92ddee6",
      "name": "Search records",
      "credentials": {
        "airtableTokenApi": {
          "id": "arrKegxyL9L8YBuK",
          "name": "Airtable Personal Access Token account 43"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "e97226cf-3752-4177-ab75-08615d56c0cb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/distilbert/distilbert-base-uncased-finetuned-sst-2-english",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "huggingFaceApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"inputs\": \"{{ $json.input_text }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        -112
      ],
      "id": "07e1a823-2ac2-44db-8287-b73ca39cef11",
      "name": "Generic Sentiment",
      "credentials": {
        "huggingFaceApi": {
          "id": "rMgGu0UlmV27Aqzz",
          "name": "Hugging Face API"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b8d2d0d6-9f0a-4b0e-a045-6778ee5ad07e",
              "name": "generic_label",
              "value": "={{ $json[0].label }}",
              "type": "string"
            },
            {
              "id": "d31f1c52-1b03-4c33-99ef-9e1594b7d554",
              "name": "generic_score",
              "value": "={{ $json[0].score }}",
              "type": "string"
            },
            {
              "id": "53027d4a-45fa-4154-89d7-43e6f22ed21a",
              "name": "input_text",
              "value": "={{$('Search records').item.json.fields.input_text}}",
              "type": "string"
            },
            {
              "id": "19c9178e-e1f5-4c09-9720-d1819fd20a48",
              "name": "record_id",
              "value": "={{ $('Search records').item.json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -112
      ],
      "id": "4c9c9603-9960-4e7e-ac3e-cfd80e4a4e29",
      "name": "Extract Generic"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/cybersectony/phishing-email-detection-distilbert_v2.4.1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $('Search records').item.json.fields.input_text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        288
      ],
      "id": "41d003ec-1cb9-456a-b4dd-53ef6cffd999",
      "name": "Fine-Tuned A",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8LzSd2CX1Mn36SDx",
          "name": "Header Auth account 45"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2be2dc4d-f1ac-4dcc-ac2b-00076bc16cbb",
              "name": "finetuned_a_label",
              "value": "={{$json[0].label}}",
              "type": "string"
            },
            {
              "id": "519408e9-585a-44c6-9500-1c8d1eb2384a",
              "name": "finetuned_a_score",
              "value": "={{$json[0].score}}",
              "type": "number"
            },
            {
              "id": "aec0275c-4640-44e2-965e-657dd6f378b8",
              "name": "input_text",
              "value": "={{$('Search records').item.json.fields.input_text}}",
              "type": "string"
            },
            {
              "id": "a482517d-c550-4fdf-9938-2e749510dc08",
              "name": "record_id",
              "value": "={{$('Search records').item.json.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        288
      ],
      "id": "32990eb9-1243-41e9-b89c-20c7baee4605",
      "name": "Extract Fine-Tuned A"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/ealvaradob/bert-finetuned-phishing",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $('Search records').item.json.fields.input_text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        96
      ],
      "id": "a7c4f80c-ed1f-49c5-9431-1c1deca03ca3",
      "name": "Fine-Tuned B",
      "credentials": {
        "httpHeaderAuth": {
          "id": "8LzSd2CX1Mn36SDx",
          "name": "Header Auth account 45"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1c7c2674-8254-45b4-902d-3cc0d74852a5",
              "name": "finetuned_b_label",
              "value": "={{$json[0].label}}",
              "type": "string"
            },
            {
              "id": "eb209499-9754-44d0-a2dd-fb58b8579aff",
              "name": "finetuned_b_score",
              "value": "={{$json[0].score}}",
              "type": "number"
            },
            {
              "id": "2a63f393-6b58-4adf-a43e-db7ea3310e58",
              "name": "input_text",
              "value": "={{$('Search records').item.json.fields.input_text}}",
              "type": "string"
            },
            {
              "id": "3a059b45-0cbd-4540-92ff-74d6d3e2f19f",
              "name": "record_id",
              "value": "={{$('Search records').item.json.id}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        96
      ],
      "id": "c0135401-2f35-4311-a3d8-459ce5f9868d",
      "name": "Extract Fine-Tuned B"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 3,
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1040,
        96
      ],
      "id": "94eba02f-47c9-4c7b-a314-2f04e5cd086c",
      "name": "Merge"
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appYwqobJ4UdB1Rbu",
          "mode": "list",
          "cachedResultName": "Week 5 Model Training",
          "cachedResultUrl": "https://airtable.com/appYwqobJ4UdB1Rbu"
        },
        "table": {
          "__rl": true,
          "value": "tblGQywV0wzzNGmaE",
          "mode": "list",
          "cachedResultName": "Fine-Tuned Comparison",
          "cachedResultUrl": "https://airtable.com/appYwqobJ4UdB1Rbu/tblGQywV0wzzNGmaE"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{$json.record_id}}",
            "input_text": "={{$json.input_text}}",
            "generic_label": "={{$json.generic_label}}",
            "generic_score": "={{$json.generic_score}}",
            "finetuned_a_label": "={{$json.finetuned_a_label}}",
            "finetuned_a_score": "={{$json.finetuned_a_score}}",
            "finetuned_b_label": "={{$json.finetuned_b_label}}",
            "finetuned_b_score ": "={{$json.finetuned_b_score}}",
            "tested_at": "={{ $now }}"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "input_text",
              "displayName": "input_text",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generic_label",
              "displayName": "generic_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "generic_score",
              "displayName": "generic_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_a_label",
              "displayName": "finetuned_a_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_a_score",
              "displayName": "finetuned_a_score",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_b_label",
              "displayName": "finetuned_b_label",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "finetuned_b_score ",
              "displayName": "finetuned_b_score ",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "winner",
              "displayName": "winner",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "notes",
              "displayName": "notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tested_at",
              "displayName": "tested_at",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.2,
      "position": [
        1248,
        96
      ],
      "id": "7211bdd9-b00a-493b-bd74-7bcb78abdde2",
      "name": "Update record",
      "credentials": {
        "airtableTokenApi": {
          "id": "arrKegxyL9L8YBuK",
          "name": "Airtable Personal Access Token account 43"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Search records",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search records": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Fine-Tuned A",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fine-Tuned B",
            "type": "main",
            "index": 0
          },
          {
            "node": "Generic Sentiment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generic Sentiment": {
      "main": [
        [
          {
            "node": "Extract Generic",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fine-Tuned A": {
      "main": [
        [
          {
            "node": "Extract Fine-Tuned A",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fine-Tuned B": {
      "main": [
        [
          {
            "node": "Extract Fine-Tuned B",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fine-Tuned B": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Generic": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Fine-Tuned A": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Update record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update record": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "021c6ae2-f1fd-4a6d-b7f7-a6a817914bcb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a69ec37954977b88a479ebfa185a30fc778ae1a13872bdbe9e26e7b8edafd875"
  },
  "id": "WCqiVnGJoJW8Ng6t",
  "tags": []
}